.custom-header {
    background-color: rgb(0, 66, 55);
}

.custom-header h1 {
    color: white;
    font-weight: 100;
    margin-left: 2%;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.page-title {
    color: white;
    font-weight: 300;
}

/* Customer */

.customer {
    background-color: rgb(0, 34, 29);
}

.customer label {
    color: white;
}

.page {
    background-color:#33003F;
}

.page-main-title-box {
    width: 100%;
    height: 15%;
    background-color: #250030;
    
}
.page-main-title {
    color: white;
    font-weight: 300;
}

.custom-table{
    background-color: #500062;
}


.modal-bg{
    background-color: #4a0061;
    color: white;
}

.modal-header-bg {
    background-color: #280035;
}